<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-pgb-oauth"
    version="0.4.0">

    <name>Phonegap Build Oauth Plugin</name>

    <description>Use this plugin to authenticate users using Oauth on Phonegap Build.</description>

    <license>MIT</license>

    <repo>https://github.com/wildabeast/phonegap-plugin-pgb-oauth</repo>
    <issue>https://github.com/wildabeast/phonegap-plugin-pgb-oauth/issues</issue> 

    <info>You need to add your PhoneGap Build Client ID and Client Secret to the Oauth Plugin source files. See https://github.com/wildabeast/phonegap-plugin-pgb-oauth#installation.</info>
    
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>    

    <!-- optional, can also be hardcoded which is more secure, maybe -->
    <preference name="CLIENT_ID" default="" />
    <preference name="CLIENT_SECRET" default="" />

    <js-module src="www/phonegap-build-oauth.js" name="PhonegapBuildOauth">
        <clobbers target="window.PhonegapBuildOauth" />
    </js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="PhonegapBuildOauth">
                <param name="ios-package" value="CDVPhonegapBuildOauth" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="PGB_CLIENT_ID">
          <string>$CLIENT_ID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="PGB_CLIENT_SECRET">
          <string>$CLIENT_SECRET</string>
        </config-file>

        <header-file src="src/ios/CDVPhonegapBuildOauth.h" />
        <source-file src="src/ios/CDVPhonegapBuildOauth.m" />
        
    </platform>

    
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhonegapBuildOauth">
                <param name="android-package" value="com.phonegap.build.oauth.PhonegapBuildOauth"/>
            </feature>   
        </config-file>

        <source-file src="src/android/src/com/phonegap/build/oauth/PhonegapBuildOauth.java" target-dir="src/com/phonegap/build/oauth" />

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="PGB_CLIENT_ID">$CLIENT_ID</string>
            <string name="PGB_CLIENT_SECRET">$CLIENT_SECRET</string>
        </config-file>

    </platform>
</plugin>
